*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url("/Users/samritha/Downloads/background-image.jpg");
    background-repeat: no-repeat;
    background-size: 100% 1000px;
}

h2{
    margin-top: 100px;
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
}

input[type=text][id=stuid] {
    width: 30%;
    padding: 6px 10px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}

.getstudent{
    margin: auto;
    text-align: center;
    width: 50%;
    color: black;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
}   

#getinfo{
    width: 150px;
    outline: 1px;
    padding: 2px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-style: normal;
}

#goback{
    width: 100px;
    outline: 1px;
    padding: 2px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-style: normal;
}
